*{
    margin: 0;
    padding: 0;
}
#game{
    width: 600px;
    height: 300px;
    border: 1px solid #0000;
    margin: 0 auto;
    background-image: url("images/im.jfif");
    background-size: 600px auto;
    animation: move-sc infinite linear;
    /* animation-duration: 1.7s; */
}
#dinosaur{
    width: 150px;
    height: 120px;
    background-image: url("images/o_bg.png");
    background-repeat: no-repeat;
    background-size: 205px auto;
    position: relative;
    top: 160px;
    left: 50px;

}
#cactus{
    width: 90px;
    height: 70px;
    background-image: url("images/d.png");
    background-size: auto 50px;
    background-repeat: no-repeat;
    position: relative;
    top: 115px;
    left: 600px;
    animation: cactus-move infinite linear;
    /* animation-duration: 1.7s; */
    
}
.jump{
    animation: jump 0.8s infinite;
    animation-duration: alternate;
}
@keyframes jump{
    0%{
        top: 170px;
    }
    100%{
        top: 100px;
    }
}

@keyframes move-sc{
    0%{
        background-position: 600px 0;

    }
    100%{
        background-position: 0 0 ;
    }
}

@keyframes cactus-move {
    0%{
        left: 600px ;

    }
    100%{
        left: -20px ;
    }
}